:root {
	--primary-color: #007bff; /* Define a primary color variable */
	--background-color: #f0f0f0; /* Define a background color variable */
	--text-color: #ebebeb; /* Define a text color variable */
}

html {
	font-family: 'Roboto', sans-serif;
}

h1 {
	text-align: right;
	font-size: xx-large;
	margin: 0rem;
}

h2 {
	font-size: xx-large;
	font-weight: bolder;
	text-align: left;
	color: var(--text-color);
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 10px;
	display: inline-block;
	background: rgba(0, 0, 0, 0.5);
	margin: 20px;
	border-radius: 5px;
}

h3 {
	color: var(--text-color);
	font-size: x-large;
	font-weight: bolder;
	text-align: left;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5rem;
	margin-top: 0%;
}

header {
	display: flex; /* Use flexbox to layout children */
	flex-direction: column;
	justify-content: space-between; /* Space out nav and branding */
	background-image: url('../images/backgrounds/mid04.webp');
	background-size: cover;
	position: relative; /* For positioning the branding content if needed */
}

.branding {
	display: flex;
	justify-content: space-between; /* Align the face image to the right */
	/* align-items:flex-end; Center align the face image vertically */
	width: 100%; /* Take up the remaining space */
}

.face-image {
	flex: 1;
	max-width: 25rem; /* Adjust width as needed */
	min-width: 20rem;
	align-self: flex-end;
	object-fit: contain; /* Preserve aspect ratio without cropping */
	height: auto; /* Maintain aspect ratio */
	padding-right: 2vw;
}

nav {
	display: flex;
	justify-content: space-between;
	margin: 0; /* Centering the nav */
	padding: 1rem 1.5vw 0 1vw; /* Padding top, right, bottom, left */
}

.nav-links {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

/* Styles for the navigation links */
.nav-links a {
	text-decoration: none; /* Remove underline from links */
	color: var(--text-color); /* Color of the nav links */
	color: #a71414;
	padding: 0rem; /* Spacing between nav links */
	font-weight: bold; /* Make the nav links bold */
	font-size: clamp(1.5rem, 3vw, 2rem);
}

.nav-links a:hover {
	color: #d8d8d8; /* Color when hovering over links */
}

/* Styles for the logo */
.logo a {
	/* Adjust the size of the logo text */
	text-decoration: none; /* Remove underline from the logo link */
	color: #ececec; /* Logo text color */

	font-size: clamp(2rem, 6vw, 5rem);
	padding: 0;
}

#samples {
	background-image: url('../images/backgrounds/background_bricks.jpg');
	background-size: cover;
	background-position: center;
}

.samplesBox {
	display: flex;
	flex-direction: column;
	align-items: center; /* Center children horizontally */
	justify-content: center; /* Center children vertically if there is height to distribute */
	text-align: center; /* Center text within children */
	gap: 1rem;
}

.sample {
	padding: 15px;
	border-radius: 8px; /* Rounded corners for the sample container */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for some depth */
	background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background behind the text */
	text-align: center;
	max-width: 350px; /* Set a max-width for the sample container */
	width: 100%;
	box-sizing: border-box; /* Include padding in the width calculation */
}

audio {
	width: 100%; /* Ensure audio controls take up the full width of their container */
	outline: none; /* Remove outline on focus for a cleaner look */
}

#clients {
	background-image: url('../images/backgrounds/background_happyClients2.webp');
	background-size: cover;
	background-position: center;
}

.client-logos {
	padding-left: 5vw;
	padding-right: 5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: clamp(2rem, 5vw, 5rem);
	align-items: center; /* Center children horizontally */
	justify-content: center; /* Center children vertically if there is height to distribute */
	text-align: center; /* Center text within children */
}

.client-image {
	height: clamp(2rem, 5vw, 5rem);
	width: auto;
	background: rgba(117, 117, 117, 0.6);
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 1);
	padding: 0.5rem;
}

#studio {
	background: #ebebeb;
	background-image: url('../images/backgrounds/background_persiana.jpg');
	background-size: cover;
	background-position: center;
}

.studio-table {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem;
	padding-top: 0;
	gap: 2rem;
	align-items: center; /* Center children horizontally */
	justify-content: center; /* Center children vertically if there is height to distribute */
	text-align: center; /* Center text within children */
}

.studio-row {
	display: flex;
	flex-direction: row;
	align-items: center; /* Center items in the flex container */
	flex-wrap: wrap;
	padding: 0;
	background: rgba(250 250, 250, 0.8); /* Change as needed */
	box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 1); /* shadow for depth */
	width: clamp(12rem, 60vw, 60rem); /* Responsive image width */
}

.studio-cell h3 {
	text-align: center;
	color: rgb(70, 70, 70);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.smallItem {
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
}

.largeItem {
	flex: 1;
	height: auto;
}

.studio-cell img {
	width: 100%; /* Responsive image width */
	/*max-width: 400px; /* Maximum image width */
	min-width: 12rem;
	height: auto; /* Maintain aspect ratio */
	display: block; /* This removes any extra space beneath the image */
	margin-bottom: 0; /* Remove any bottom margin from the image */
}

/* CSS for alternating images */
.image-set-1 {
	animation: toggleImages 5s infinite alternate; /* Toggle every 5 seconds */
	opacity: 1; /* Initially set opacity to 0 for the second set of images */
	visibility: visible;
}

.image-set-2 {
	animation: toggleImages 5s infinite alternate; /* Toggle every 5 seconds */
	opacity: 0; /* Initially set opacity to 0 for the second set of images */
	visibility: hidden; /* Initially hide the second set of images */
}

@keyframes toggleImages {
	0% {
		opacity: 1; /* Start with full opacity */
		visibility: visible; /* Show the element */
	}
	100% {
		opacity: 0; /* Fade out at the end */
		visibility: hidden; /* Hide the element */
	}
}

section {
	margin-bottom: 0rem;
	padding-bottom: 5rem;
}

p {
	color: #333;
	font-size: large;
	font-weight: bold;
	margin-top: 0em;
	padding-left: 1rem;
}

article {
	flex: 1;
	padding: 1rem;
	text-align: left;
	align-self: center;
	color: #ebebeb;
	font-weight: bold;
	margin-top: 0em;
	padding-left: 3vw;
	padding-right: 0;
	font-size: clamp(1rem, 3vw, 2rem);
	line-height: 1.75;
}

body {
	margin: 0em;
}

img {
	margin: 0;
}

@media all and (pointer: none), (pointer: coarse) {
	body {
		padding: 0.3em;
	}

	.flex-container {
		flex-direction: column;
		align-items: center;
		gap: 0.2em;
		padding: 0.5em;
		border-radius: 10px;
	}

	.grid-container {
		gap: 0.5em;
		padding: 0.5em;
		column-gap: 0.5em;
		row-gap: 0.5em;
	}

	article {
		max-width: 100%;
	}

	h2 {
		font-size: large;
	}

	p {
		margin-top: 0em;
	}
}
