h1 {color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1em;}

h2 {color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.2em;}
    
section {margin-bottom: 7em;}

.highlight {
    background: #2B3C42 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.4em;}

article {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: larger;
    text-align: left;
    padding-top: 0;
    flex: 1;
    max-width: 40%;}
    
p {font-family: 'Roboto', sans-serif;
    text-indent: 2em;
    line-height : 1.5em;
    margin-top: 0em;}
 
.cardImages {flex: 1;
    max-width: 60%;
    border-radius: 10px;} 

body {padding: 3em;} 

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    gap: 3em;
    padding: 3em;
    margin-bottom: 3em;
    border-radius: 10px;
    box-sizing: border-box;
    background: #2B3C42;
    filter: drop-shadow(12px 12px 10px rgb(92, 92, 92));}

/* These two have a different distribution */    
.gameImage{max-width: 20%;}
.gameArticle{max-width: 80%;}

.collapsed {
    height: 15em;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.781));
}

/* CSS selector to identify the tabs */
.collapsible {
    cursor: pointer;}

.grid-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33% 33% auto; 
    padding: 3em;
    column-gap: 2em;
    row-gap: 6em;
    filter: drop-shadow(12px 12px 10px #5C5C5C);}

.grid-item {
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: larger;
    text-align: left;}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: right;
    align-self: center;}

.item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;}

.item4 {
    grid-column-start: 2;
    grid-column-end: 4;}

img {
    max-width: 100%;
    height: auto;
    width: 100%;}

/* The hyperlinks were very difficult to see with their original colour*/    
a { color: #ADD8E6;
    font-weight: bold;}
    

.secondColour{
    background-color: #0e260f;}

.thirdColour{
    background-color: #426656;}

.fourthColour{
    background-color: #5586a7;}

    
@media all and (pointer:none) , (pointer:coarse) {
    body {
        padding: 0.3em;
    } 

    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        padding: 0.5em;
        border-radius: 10px;
    }

    .grid-container {
        gap: 0.5em;
        padding: 0.5em;
        column-gap: 0.5em;
        row-gap: 0.5em;
    }
   
    .cardImages {max-width: 100%;} 

    article {max-width: 100%;}

    h2 {font-size: large;}

    p {margin-top: 0em;}           
} 